<main>
  <div id="login-wrapper">
    <div id="login-img">
      <div>
        <img src="signin-img.svg" alt="Sign In image" />
      </div>
    </div>
    <div id="login-form">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <h1>Sign In</h1>
        <!-- <app-input-field
          (appAutoFocus)="(true)"
          placeholder="Enter Username"
          id="username"
          name="username"
          ngModel
          required
          icon="mynaUserSolid"
        /> -->

        <div id="input-field-wrapper">
          <div>
            <ng-icon name="mynaUserSolid" />
          </div>
          <input
            appAutoFocus
            placeholder="Enter Username"
            name="username"
            ngModel
            required
            minlength="6"
          />
        </div>

        <div id="input-field-wrapper">
          <div>
            <ng-icon name="mynaLockSolid" />
          </div>
          <input
            placeholder="Enter Password"
            name="password"
            type="password"
            ngModel
            required
          />
        </div>
        <div id="login-remember-me">
          <label>Remember Me</label>
          <input type="checkbox" name="remember-me" />
        </div>
        <app-primary-button label="Login" />
      </form>
      <div id="login-page">
        <p>Don't have an account?</p>
        <a routerLink="/auth/register">Create One</a>
      </div>
    </div>
  </div>
</main>
