@import "../../../styles/variables";
@import "../../../styles/breakpoints";

main {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  background-image: url("../../../../public/signup-background.svg");
  background-color: $primary-color;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @include sm {
    align-items: start;
  }
}

#login-wrapper {
  width: 80%;
  height: 80vh;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;

  @include md {
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 10px;
  }

  @include lg {
    width: 88%;
  }
}

#login-img {
  width: 100%;
  display: flex;
  align-items: flex-end;

  @include md {
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }

  & > div {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px 0;
    overflow: hidden;
  }

  & > div > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    background-size: contain;
    object-fit: cover;

    @include md {
      max-width: 70%;
    }
  }
}

#login-form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 0 20px;

  @include md {
    margin: 0;
  }

  & > form {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
  }

  & #reg-terms {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  & #login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 30px 0;
  }
}

#login-remember-me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  & > input {
    margin-bottom: 1px;
  }
}

// Input Field style
#input-field-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid $gray-blue;
  box-shadow: none;
  background-color: white;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & input {
    width: inherit;
    border: 0;
  }

  & input:focus {
    outline: 0;
  }

  & ng-icon {
    font-size: 1.2rem;
    margin-bottom: 3px;
  }
}
