@import "../../../styles/variables";

main {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  background-image: url("../../../../public/signup-background.svg");
  background-color: $primary-color;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register-wrapper {
  width: 80%;
  height: 80vh;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
}

#reg-img {
  width: 100%;
  display: flex;
  align-items: flex-end;

  & > div {
    display: flex;
    padding: 5px 0;
  }

  & > div > img {
    width: inherit;
    object-fit: cover;
  }
}

#reg-form {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px 20px 25px 0;

  & form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
  }

  & #reg-terms {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  & #reg-login {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

// Input Field style

#input-field-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid $gray-blue;
  box-shadow: none;
  background-color: white;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & input {
    width: inherit;
    border: 0;
  }

  & input:focus {
    outline: 0;
  }

  & ng-icon {
    font-size: 1.2rem;
    margin-bottom: 3px;
  }
}
