@import "../../../styles/variables";

.task-card-wrapper {
  padding: 10px 15px;
  border: 1px solid $gray-blue;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
text-decoration: none;
color: inherit;
}

.task-circular-progress {
  & .circle {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 100%;
    margin-top: 2px;
  }
}
.circular-div-red {
  border: 2px solid red;
}

.circular-div-blue {
  border: 2px solid blue;
}

.circular-div-green {
  border: 2px solid green;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  color: inherit;
text-decoration: none;

h6 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
}

.task-card {
  flex-grow: 1;
  margin-left: 10px;
}

.task-card-main {
  display: flex;
   margin-top: 10px;

  & .task-card-paragraph {
    flex-grow: 1;
  }

    p {
        font-size: 0.9rem;
      }
}



.task-card-img {
  padding-top: 20px;
  margin-left: 10px;

  img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.task-card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 7px;
  & span {
    text-transform: capitalize;
  }

  & time {
    color: $gray-blue;
  }
}

.three-dots-wrapper {
  display: flex;
  gap: 1px;

  & .dot {
    width: 5px;
    height: 5px;
    border: 1px solid $gray-blue;
    border-radius: 100%;
  }
}



.blue {
  color: $blue;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.sky-blue {
  color: $sea-blue;
}

.orange {
  color: $orange;
}
.bright-orange {
  color: $bright-orange;
}
.dark-red {
  color: $dark-red;
}

