<div id="task-card-wrapper">
  <div class="task-circular-progress">
    <div class="circle-div" [class]="circularDiv"></div>
  </div>
  <div class="task-card">
    <div id="task-card-main">
      <div id="task-card-header">
        <h6>{{ task.title }}</h6>
        <p>
          {{
          task.taskDesc.length > 100
            ? `${task.taskDesc.substring(0, 100)}...`
            : task.taskDesc
          }}
        </p>
      </div>
      <div id="task-card-img">
        <img src="images.jpeg" alt="pic" />
      </div>
    </div>
    <div id="task-card-footer">
      <p>
        Priority:
        <span [class]="priorityStyle">{{ task.priority }}</span>
      </p>
      <p>
        Status:
        <span [class]="statusStyle">{{ task.status }}</span>
      </p>
      <time
        >Created on: <span>{{ task.dueDate.toLocaleDateString() }}</span></time
      >
    </div>
  </div>
</div>
