@import "../../../styles/variables";

.task-card-wrapper {
  padding: 10px 15px;
  border: 1px solid $gray-blue;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
  gap: 15px;
  background-color: white;
text-decoration: none;
color: inherit;
}

.task-circular-progress {
  & .circle-div {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 100%;
    margin-top: 2px;
  }
}

.circular-div-red {
  border: 2px solid red;
}

.circular-div-blue {
  border: 2px solid blue;
}

.circular-div-green {
  border: 2px solid green;
}

.task-card {
  flex-grow: 1;
}

#task-card-main {
  display: flex;
}

#task-card-header {
  padding-right: 10px;
  flex-grow: 1;

  h6 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  p {
    font-size: 0.9rem;
  }
}

#task-card-img {
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }
}

#task-card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 10px;

  & span {
    text-transform: capitalize;
  }

  & time {
    color: $gray-blue;
  }
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.sky-blue {
  color: $sea-blue;
}

.orange {
  color: $orange;
}
.bright-orange {
  color: $bright-orange;
}
.dark-red {
  color: $dark-red;
}

