<div class="task-card-wrapper">
  <div class="task-circular-progress">
    <!-- Circular Status -->
    <div class="circle" [class]="circularDiv"></div>
  </div>
  <div class="task-card">
    <a [routerLink]="['/dashboard', 'task', task.id]" class="task-card-header">
      <!-- Header -->
      <div>
        <h6>
          {{ task.title.length > 50 ? `${task.title.substring(0, 40)}...` : task.title }}
        </h6>
        <div class="task-card-paragraph">
          <p>
            {{
          task.taskDesc.length > 100
            ? `${task.taskDesc.substring(0, 100)}...`
            : task.taskDesc
            }}
          </p>
        </div>
      </div>
      <div class="task-card-img">
        <img src="images.jpeg" alt="pic" />
      </div>
    </a>
    <div class="task-card-footer">
      <!-- Footer -->
      <p>
        Priority:
        <span [class]="priorityStyle">{{ task.priority }}</span>
      </p>
      <p>
        Status:
        <span [class]="statusStyle">{{ taskStatusLabel }}</span>
      </p>
      <time
        >Created on:
        <span>{{ task.createdAt.toLocaleDateString() }}</span></time
      >
    </div>
  </div>
  <div class="submenu-container">
  <div class="three-dots-wrapper" (click)="toggleSubmenu()">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    @if(isSubmenuOpen()){
    <div class="submenu">
      <ul>
        <li (click)="handleDeleteTask(task.id)">Delete</li>
      </ul> 
    </div>
  }
  </div>
</div>



</div>
<!-- <a  class="task-card-wrapper" [routerLink]="['/dashboard', 'my-tasks', task.id]">
      <div class="task-circular-progress">
    <div class="circle-div" [class]="circularDiv"></div>
  </div>
  <div class="task-card">
    <div id="task-card-main">
      <div id="task-card-header">
        
      </div>
    </div>
    <div id="task-card-footer">
      
    </div>
  </div>
</a> -->
