@import "../../../styles/variables";

.task-card-wrapper {
  padding: 10px 15px;
  border: 1px solid $gray-blue;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
text-decoration: none;
color: inherit;
}

.task-circular-progress {
  & .circle {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 100%;
    margin-top: 2px;
  }
}
.circular-div-red {
  border: 2px solid red;
}

.circular-div-blue {
  border: 2px solid blue;
}

.circular-div-green {
  border: 2px solid green;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  color: inherit;
text-decoration: none;

h6 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
}

.task-card {
  flex-grow: 1;
  margin-left: 10px;
}

.task-card-main {
  display: flex;
   margin-top: 10px;

  & .task-card-paragraph {
    flex-grow: 1;
  }

    p {
        font-size: 0.9rem;
      }
}



.task-card-img {
  padding-top: 20px;
  margin-left: 10px;

  img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.task-card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 7px;
  & span {
    text-transform: capitalize;
  }

  & time {
    color: $gray-blue;
  }
}

.submenu-container {
  position: relative;
  cursor: pointer;
  z-index: 100;
}

.three-dots-wrapper {
  display: flex;
  gap: 1px;

  & .dot {
    width: 5px;
    height: 5px;
    border: 1px solid $gray-blue;
    border-radius: 100%;
  }
}

.submenu {
  position: absolute;
  top: 10px;
  left: 0;
  min-width: 100px;
  height: auto;
  background-color: white;
  border: 1px solid $gray-blue;
  border-radius: 10px;
  padding: 5px 0;

  & ul {
    list-style-type: none;

    & li {
     padding: 4px 10px;
     transition: 0.2s;
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
      &:hover {
        background-color: $primary-color;
        color: white
      }
    }
  }

  
}
.blue {
  color: $blue;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.sky-blue {
  color: $sea-blue;
}

.orange {
  color: $orange;
}
.bright-orange {
  color: $bright-orange;
}
.dark-red {
  color: $dark-red;
}

