@import "../../../styles/variables";

.card-wrapper {
  box-shadow: 0 5px 9px 2px #00000022;
  border-radius: 10px;
  padding: 15px;
}

.card-wrapper:first-child {
  margin-bottom: 15px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;

  & > div ng-icon {
    color: $gray-blue;
  }

  & > div h6 {
    color: $red;
    font-weight: normal;
  }

  & .card-header-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.card-body {
  padding: 20px 0px 20px 0px;
}
