$primary-color: #ff6767;
$primary-color-hover: #ff4d4d;
$secondary-color: #f8f8f8;
$text-primary-color: #000;
$text-secondary-color: #ff6767;
$sea-blue: #3abeff;
$gray-blue: #a2a2aa;
$blue: #0224ff;
$red: #f21e1d;
$green: #04a301;
$orange: #ffc107;
$bright-orange: #ff9800;
$dark-orange: #f24e1e;
$dark-red: #f44336;
