<div id="todo-card-wrapper">
  <div id="todo-card-main">
    <div id="todo-card-header">
      <h6>{{ todo.title }}</h6>
      <p>
        {{
          todo.description.length > 100
            ? `${todo.description.substring(0, 100)}...`
            : todo.description
        }}
      </p>
    </div>
    <div id="todo-card-img">
      <img src="images.jpeg" alt="pic" />
    </div>
  </div>
  <div id="todo-card-footer">
    <p>
      Priority:
      <span
        [ngClass]="
          todo.priority === 'critical'
            ? 'dark-red'
            : todo.priority === 'high'
            ? 'bright-orange'
            : todo.priority === 'moderate'
            ? 'orange'
            : 'sea-blue'
        "
        >{{ todo.priority }}</span
      >
    </p>
    <p>
      Status:
      <span
        [ngClass]="
          todo.status === 'not started'
            ? 'red'
            : todo.status === 'completed'
            ? 'green'
            : 'blue'
        "
        >{{ todo.status }}</span
      >
    </p>
    <time
      >Created on: <span>{{ todo.date.toLocaleDateString() }}</span></time
    >
  </div>
</div>
