<div class="progress-bar-wrapper">
  <div class="progress-bar-percentage">
    <div class="progress-bar-percentage-text">
      <p>{{ percentage }}%</p>
    </div>
    <div
      class="progress-bar"
      [style.background]="
        'conic-gradient(#d9d9d9 0% ' +
        (100 - percentage) +
        '%, ' +
        color +
        ' ' +
        (100 - percentage) +
        '% 100%) border-box'
      "
    ></div>
  </div>
  <div class="progress-bar-label">
    <div [style.background]="color"></div>
    <p>
      {{ label }}
    </p>
  </div>
</div>
