div {
  min-height: 100vh;
  display: flex;

  flex-direction: column;
}
main {
  margin-top: 55px;
  display: flex;
  width: 100%;
  flex-grow: 1;
}

#app-sidebar {
  width: 25%;
}
#wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
}
