@import "./../../../styles/variables";

:host {
  height: 100%;
}
.wrapper {
  border: 1px solid $gray-blue;
  border-radius: 10px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.go-back-div {
  position: absolute;
  top: 20px;
  right: 20px;

  & a {
    color: inherit;
    transition: 0.3s;
  }

  a:hover {
    color: $primary-color;
  }
}

.header-div {
  display: flex;
  gap: 20px;

  & .image-div img {
    border-radius: 10px;
  }

  & .title-div {
    & h1 {
      margin-bottom: 10px;
    }

    & p {
      margin-bottom: 5px;
    }

    & time {
      color: $gray-blue;
    }
  }
}
.body-div {
  flex-grow: 1;
  margin: 25px 0;
}

.footer-div {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.sky-blue {
  color: $sea-blue;
}

.orange {
  color: $orange;
}
.bright-orange {
  color: $bright-orange;
}
.dark-red {
  color: $dark-red;
}
