<dialog #dialog id="modal">
  <app-new-task-modal id="modal-tag" (closeModal)="closeModal()" />
</dialog>

<div id="main-wrapper">
  <div id="section-wrapper">
    <h2>My Tasks</h2>
    <div id="my-tasks-div">
      <div id="tasks-list-div">
        <!-- List of tasks goes here -->
        @for (task of tasksList; track task.id) {
        <app-task-card [task]="task" />
        } @empty {
        <div class="empty-task-list-div">
          <p class="empty-task-list-p">
            To create a Task, click on the '+' button
          </p>
        </div>
        }
      </div>
      <div id="create-new-task-div">
        <!-- Create new task -->
        <button (click)="openModal()">&#43;</button>
      </div>
    </div>
  </div>
  <div id="section-wrapper"></div>
</div>
