@import "../../../styles/variables";

:host {
  height: 100%;
}
#main-wrapper {
  display: flex;
  gap: 15px;
  height: 100%;
}

#section-wrapper {
  width: 100%;
  border: 1px solid $gray-blue;
  border-radius: 7px;
  padding: 20px;

  & h2 {
    width: fit-content;

    &::after {
      content: "";
      display: block;
      width: 50%;
      height: 3px;
      margin-top: 2px;
      background-color: $primary-color;
    }
  }
}

#my-tasks-div {
  display: flex;
  flex-direction: column;
  height: calc(100% - 27px);
  padding-top: 20px;
}

#tasks-list-div {
  flex-grow: 1;
}

#create-new-task-div {
  align-self: flex-end;
}

#create-new-task-div button {
  min-width: 50px;
  min-height: 50px;
  padding: 10px;
  border-radius: 100%;
  border: 1px solid $primary-color;
  background-color: $primary-color;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $primary-color-hover;
  }  

  &:focus-visible {
    outline: none;
  }
}

.mat-mdc-dialog-surface {
  border-radius: 1px !important;
}

#modal {
  width: 60%;
  min-height: 90vh; //TODO: Make it responsive
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0px;
  border-radius: 7px;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

#modal-tag {
  display: block;
  height: 90vh;
}

.empty-task-list-div {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .empty-task-list-p {
    color: $gray-blue;
  }
}
