<div class="toast-container">
  @for(toast of toastSubject.toast$ | async; track toast.id){
  <div class="toast" [ngClass]="toast.type">
    @if(toast.type === 'success'){
    <ng-icon
      name="mynaCheckCircleSolid"
      [ngClass]="toast.type"
      class="toast-icon"
    />
    } @else if(toast.type === 'error'){
    <ng-icon name="mynaXCircleSolid" class="toast-icon" />
    } @else {
    <ng-icon name="mynaInfoCircleSolid" class="toast-icon" />
    }
    <p>{{ toast.message }}</p>
  </div>
  }
</div>
