<dialog #dialog class="modal">
  <app-new-task-modal class="modal-tag" (closeModal)="closeModal()" />
</dialog>

<h2>Welcome back, {{ user?.firstName }}</h2>
<div id="dashboard-main-section">
  <app-card title="To-Do" icon="mynaClipboard">
    <div ngProjectAs="card-header">
      <button class="add-new-todo-btn" (click)="openModal()">
        <ng-icon class="add-new-todo-icon" name="mynaPlusSolid" />
        <p>Add task</p>
      </button>
    </div>
    @for(todo of todoTasks; track todo.id) {
    <app-task-card [task]="todo" />
    } @empty {
    <div class="empty-task-list-div">
      <p class="empty-task-list-p">To create a Task, click on the 'Add task'</p>
    </div>
    }
  </app-card>
  <div id="dashboard-todo-statistics">
    <!-- <div class="dashboard-box">
        <div class="dashboard-task-status">
          <ng-icon name="mynaChartColumnIncreasingSolid" />
          <h6>Task Status</h6>
        </div>
        <div class="dashboard-box-bar-charts">
          <app-progress-bar color="green" [percentage]="84" label="Completed" />
          <app-progress-bar
            color="blue"
            [percentage]="10"
            label="In Progress"
          />
          <app-progress-bar color="red" [percentage]="6" label="Not Started" />
        </div>
      </div> -->

    <app-card title="Task Status" icon="mynaChartColumnIncreasingSolid">
      <div class="dashboard-box-bar-charts">
        <app-progress-bar
          color="green"
          [percentage]="statistics ? statistics[2].percentage : 0"
          label="Completed"
        />
        <app-progress-bar
          color="blue"
          [percentage]="statistics ? statistics[1].percentage : 0"
          label="In Progress"
        />
        <app-progress-bar
          color="red"
          [percentage]="statistics ? statistics[0].percentage : 0"
          label="Not Started"
        />
      </div>
    </app-card>

    <div class="dashboard-box-completed-todo">
      <app-card
        style="height: 100%"
        icon="mynaCheckCircleOneSolid"
        title="Completed Tasks"
      >
        @for (task of completedTasks; track task.id) {
        <app-task-card [task]="task" />
        } @empty {
        <div class="empty-task-list-div">
          <p class="empty-task-list-p">There aren't any completed tasks!</p>
        </div>
        }
      </app-card>
    </div>
  </div>
</div>
