@import "../../styles/variables";

#dashboard-main-section {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  gap: 10px;
  border: 1px solid $gray-blue;
  padding: 20px;
}

#dashboard-main-section > div {
  height: 100%;
}

.dashboard-box {
  box-shadow: 0 5px 9px 2px #00000022;
  border-radius: 10px;
  padding: 15px;
}

#dashboard-todo {
  min-height: 100%;
  box-shadow: 0 5px 9px 2px #00000022;
  border-radius: 10px;
  padding: 15px;
}

#dashboard-todo-statistics {
  display: flex;
  flex-direction: column;
  height: auto;
}

.dashboard-box-bar-charts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.dashboard-box-completed-todo {
  flex-grow: 1;
}

.dashboard-task-status {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;

  & > ng-icon {
    color: $gray-blue;
  }

  & > h6 {
    color: $red;
    font-weight: normal;
  }
}

#card-completed-tasks {
  height: 100%;
}

.add-new-todo-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0.94rem;
  padding: 4px 9px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.3s;
  color: $gray-blue;

  &:hover {
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  & .add-new-todo-icon {
    color: $primary-color;
  }
}

.modal {
  width: 60%;
  min-height: 90vh; //TODO: Make it responsive
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0px;
  border-radius: 7px;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.modal-tag {
  display: block;
  height: 90vh;
}

.empty-task-list-div {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .empty-task-list-p {
    color: $gray-blue;
  }
}
