@import "./styles/variables";

:root {
  font-size: 16px;
  min-height: 100vh;
}
body {
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "sans-serif";
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  padding: 4px;
  background-color: $primary-color;
  border: 0;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 7px 2px #00000011;
  transition: 0.5s;
}

.button-icon:hover {
  background-color: $primary-color-hover;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
